*{
    margin: 0;
    padding: 0;
}

h1{
    padding: 1rem;
}




body{
    background-color: #171A21;
    color: white;
}

div{
    background-color: #1B2838;
    margin: 5%;
    padding: 2%;
}

ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    list-style: none;
}

li{
    padding: 2px;
}



ul{
    margin: 15px;
    padding: 2px;
    list-style: none;
    align-self: center;
}

input{
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 3px;
}
button{
    color:#A1BA1D;
    background-color: #4C6B22;
    padding: 10px;
    border-radius: 10px;
}

.juegos-card{
    max-width: 100%;
    min-width: 60%;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    }

img{
    max-width: 100%;
}